
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #ebebeb;
--text-dark: #333;
--text-light: #ffffff;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
 font-family: var(--primary-font);
 font-size: 1.2em;
   background-color: #ebebeb;
}
a:link,
a:visited {
 color: var(--accent-color);
}

header{
   
   background-color: #52489c;
   padding: 30px
   
}

.viewer{
   text-align: center;

}

.hide {
	display: none;
}

h1{

   text-align: center;
   color:#ebebeb
	
}

nav{
   text-align: center;
   display: flex;
 justify-content: space-around;
 flex-direction: column;
   
}



h2{
   text-align: center;
   
}

figure {
   max-width: 100%;
}

main section {
    text-align: center;
    font-size: .6em;

}

.gallery {
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   
}

.gallery img{
   padding: 10px;
   max-width: 90%;
   display: block;
   text-align: center;
   justify-content: center;
   align-items: center;
}


footer{
   
   background-color: #52489c;
   padding:20px
}

@media screen and (min-width: 700px) {
   .gallery{
      grid-template-columns: 1fr 1fr;
   }




   
}
@media screen and (min-width: 1000px) {
   .gallery{
      grid-template-columns: 1fr 1fr 1fr;
   }

   .menu-button{
      display:none;
   }

   nav{
      flex-direction: row;
   }

}



