body {
    font-family: Helvetica, Arial, sans-serif;
}

.title-container {
    text-align: center;
    margin-top: 20px;
}

.page-title {
    font-size: 2.5em;
    margin: 0;
    color: #473144;
}

.main-header {
    
    padding: 10px 0;
    border-top: 2px solid #EFC69B;  
    border-bottom: 2px solid #EFC69B;  

}

.main-header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
}

.main-header nav ul li {
    margin: 0 50px;
}

.main-header nav ul li a {
    text-decoration: none;
    color: #AF1B3F;
    font-weight: bold;
}

.main-header nav ul li a:hover {
    color: #007BFF;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}



.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}

.review {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    
}

.review-title {
    grid-column: span 2;
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #AF1B3F;
    
}

.book-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-cover {
    max-width: 100%;
    height: auto;
}

.review-content {
    font-size: 1em;
    margin: 0;
}